.row > * {
	vertical-align : middle
}
.row {
	margin-top: 5px;
	margin-left: 5px;
}

.third {
    max-width: 33%;
}

.version {
    word-break: break-all;
    position: absolute;
    bottom: 5px;
}
