<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html manifest="manifest.appcache">
<head>
	<meta charset="UTF-8">
	<title>Расписание</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="onsenui/css/onsenui.min.css">
	<link rel="stylesheet" href="onsenui/css/onsen-css-components.min.css">
	<link rel="stylesheet" href="css/index.css">

	<script src="https://d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js" data-apikey="d9ca4cba6b7677a2657a10c5063b0602"></script>

	<script src="version.js"></script>

	<script src="js/polyfills/es5-shim.js"></script>
	<script src="js/polyfills/es5-sham.js"></script>
	<script src="js/polyfills/es6-shim.js"></script>
	<script src="js/polyfills/es6-sham.js"></script>
	<script src="js/polyfills/es7-shim.js"></script>
	<script src="js/polyfills/weakmap-polyfill.js"></script>
	<script src="js/polyfills/custom-event-polyfill.js"></script>
	<script src="js/polyfills/MutationObserver.js"></script>
	<script src="js/polyfills/classList.js"></script>
	<script src="js/polyfills/remove.js"></script>

	<script src="js/superstore-sync.js"></script>
	<script src="cordova.js"></script>

	<!--<script src="js/vue.js"></script>
	<script src="onsenui/js/onsenui.js"></script>
	<script src="onsenui/js/vue-onsenui.js"></script>-->
	<script src="js/vue.min.js"></script>
	<script src="onsenui/js/onsenui.min.js"></script>
	<script src="onsenui/js/vue-onsenui.min.js"></script>

	<script src="js/index.js"></script>
</head>
<body>
	<div id="app"></div>
	<template id="main-page">
		<v-ons-page>
			<v-ons-toolbar>
				<div class="center">{{$root.title}}</div>
			</v-ons-toolbar>
			<div class="content" name="main">
				<v-ons-tabbar swipeable position="auto" :tabs="tabs">
					<v-ons-tab page="schedule.html" label="Расписание" icon="ion-home, material:md-home">
					</v-ons-tab>
					<v-ons-tab page="filter.html" label="Фильтр" icon="ion-search, material:md-search">
					</v-ons-tab>
					<v-ons-tab page="settings.html" label="Настройки" icon="ion-ios-settings, material:md-settings">
					</v-ons-tab>
				</v-ons-tabbar>
			</div>
		</v-ons-page>
	</template>

	<template id="scheduleItem">
		<v-ons-row>
			<v-ons-col>Урок №{{scheduleItem.No}}</v-ons-col>
			<v-ons-col>{{scheduleItem.LessonName}}</v-ons-col>
		</v-ons-row>
		<v-ons-row>
			<v-ons-col>C {{scheduleItem.GetStartTime()}}</v-ons-col>
			<v-ons-col>{{scheduleItem.TeacherName}}</v-ons-col>
		</v-ons-row>
		<v-ons-row>
			<v-ons-col>До {{scheduleItem.GetEndTime()}}</v-ons-col>
			<v-ons-col>В {{scheduleItem.Classroom}}</v-ons-col>
		</v-ons-row>
		<v-ons-row>
			<v-ons-col></v-ons-col>
			<v-ons-col>{{scheduleItem.ClassNum}}-{{scheduleItem.ClassLetter}}</v-ons-col>
		</v-ons-row>
		<v-ons-row v-if="scheduleItem.isReplace">
			<v-ons-col></v-ons-col>
			<v-ons-col>Замена</v-ons-col>
		</v-ons-row>
	</template>
	
	<template id="schedule">
		<v-ons-page><div class="content" name="schedule">
			<v-ons-list v-if="$root.Filter.IsEnabled() || $root.DefaultFilter.IsEnabled()">
				<v-ons-list-item v-for="scheduleItem in $root.findLessons()">
					<v-ons-row>
						<v-ons-col>Урок №{{scheduleItem.No}}</v-ons-col>
						<v-ons-col>{{scheduleItem.LessonName}}</v-ons-col>
					</v-ons-row>
					<v-ons-row>
						<v-ons-col>C {{scheduleItem.GetStartTime()}}</v-ons-col>
						<v-ons-col>{{scheduleItem.TeacherName}}</v-ons-col>
					</v-ons-row>
					<v-ons-row>
						<v-ons-col>До {{scheduleItem.GetEndTime()}}</v-ons-col>
						<v-ons-col>В {{scheduleItem.Classroom}}</v-ons-col>
					</v-ons-row>
					<v-ons-row>
						<v-ons-col></v-ons-col>
						<v-ons-col>{{scheduleItem.ClassNum}}-{{scheduleItem.ClassLetter}}</v-ons-col>
					</v-ons-row>
					<v-ons-row v-if="scheduleItem.isReplace">
						<v-ons-col></v-ons-col>
						<v-ons-col>Замена</v-ons-col>
					</v-ons-row>
				</v-ons-list-item>
			</v-ons-list>
			<h1 v-else>Нет параметров!</h1>
		</div></v-ons-page>
	</template>
	
	<template id="filter">
		<v-ons-page><div class="content" name="filter">
			<div class="row">
				<label>День недели:</label>
				<v-ons-select v-model="$root.Filter['DayOfWeek']" v-if="$root.show" v-bind:disabled="!$root.Filter.IsEnabled()">
					<option selected :value="$root.getCurrentDayOfWeek()">Сегодня</option>
					<option v-for="dayOfWeek in $root.getKeys($root.daysOfWeekTranslationReverse)" :value="$root.daysOfWeekTranslationReverse[dayOfWeek]">
						{{dayOfWeek}}
					</option>
				</v-ons-select>
			</div>
			<div class="row">
				<label class="left">
					<v-ons-checkbox input-id="classFilterCheckbox" v-model="$root.Filter['ClassEnabled']" v-if="$root.show"></v-ons-checkbox>
				</label>
				<label for="classFilterCheckbox" class="center">
					Класс:
				</label>
				<v-ons-select v-bind:disabled="!$root.Filter['ClassEnabled']" v-model="$root.Filter['ClassNum']" v-if="$root.show">
			        <option v-for="classNum in $root.classNums">
			        	{{classNum}}
		        	</option>
			    </v-ons-select>
			    <v-ons-select v-bind:disabled="!$root.Filter['ClassEnabled']" v-model="$root.Filter['ClassLetter']" v-if="$root.show">
			        <option v-for="classLetter in $root.classLetters">
			            {{classLetter}}
			        </option>
			    </v-ons-select>
			</div>
			<div class="row">
				<span class="third">
					<label class="left">
						<v-ons-checkbox input-id="teacherFilterCheckbox" v-model="$root.Filter['TeacherEnabled']" v-if="$root.show"></v-ons-checkbox>
					</label>
					<label for="teacherFilterCheckbox" class="center">
						Учитель:
					</label>
				</span>
				<v-ons-select class="third" v-bind:disabled="!$root.Filter['TeacherEnabled']" v-model="$root.teacherGroup" v-if="$root.show">
	            	<option v-for="group in $root.getKeys($root.teachers)">
	                    {{group}}
	                </option>
	            </v-ons-select>
	            <v-ons-select class="third" v-bind:disabled="!$root.Filter['TeacherEnabled']" v-model="$root.Filter['TeacherName']" v-if="$root.show">
	                <option v-for="teacherName in $root.teachers[$root.teacherGroup]">
                        {{teacherName}}
                    </option>
	            </v-ons-select>
			</div>
			<div class="row">
				<label class="left">
					<v-ons-checkbox input-id="classroomFilterCheckbox" v-model="$root.Filter['ClassroomEnabled']" v-if="$root.show"></v-ons-checkbox>
				</label>
				<label for="classroomFilterCheckbox" class="center">
					Кабинет:
				</label>
				<v-ons-input v-bind:disabled="!$root.Filter['ClassroomEnabled']" modifier="underbar" v-model="$root.Filter['Classroom']" v-if="$root.show"></v-ons-input>
			</div>
		</div></v-ons-page>
	</template>
	
	<template id="settings">
		<v-ons-page><div class="content" name="settings">
			<div class="row">
				<label class="center">
					Мой класс:
				</label>
				<v-ons-select v-model="$root.DefaultFilter['ClassNum']" v-if="$root.show">
			        <option v-for="classNum in $root.classNums">
			        	{{classNum}}
		        	</option>
			    </v-ons-select>
			    <v-ons-select v-model="$root.DefaultFilter['ClassLetter']" v-if="$root.show">
			        <option v-for="classLetter in $root.classLetters">
			            {{classLetter}}
			        </option>
			    </v-ons-select>
			</div>
			<div class="row">
				<label class="left">
					<v-ons-checkbox input-id="enableNotification" v-model="$root.enableNotification" v-if="$root.show"></v-ons-checkbox>
				</label>
				<label for="enableNotification" class="center">
					Включить уведомление о времени уроков
				</label>
			</div>
			<div class="row">
				<label class="left">
					<v-ons-checkbox v-bind:disabled="!$root.enableNotification" input-id="enableBackground" v-model="$root.enableBackground" v-if="$root.show"></v-ons-checkbox>
				</label>
				<label for="enableBackground" class="center">
					Работать в фоне
				</label>
			</div>
			<!--<div class="row">
				<v-ons-button v-on:click="updateData">Обновить сейчас</v-ons-button>
			</div>-->
			<div class="row version">
				<small v-html="$root.version"></small>
			</div>
		</div></v-ons-page>
	</template>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	    (function (d, w, c) {
	        (w[c] = w[c] || []).push(function() {
	            try {
	                w.yaCounter46830327 = new Ya.Metrika({
	                    id:46830327,
	                    clickmap:true,
	                    trackLinks:true,
	                    accurateTrackBounce:true,
	                    webvisor:true
	                });
	            } catch(e) { }
	        });

	        var n = d.getElementsByTagName("script")[0],
	            s = d.createElement("script"),
	            f = function () { n.parentNode.insertBefore(s, n); };
	        s.type = "text/javascript";
	        s.async = true;
	        s.src = "https://mc.yandex.ru/metrika/watch.js";

	        if (w.opera == "[object Opera]") {
	            d.addEventListener("DOMContentLoaded", f, false);
	        } else { f(); }
	    })(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/46830327" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</body> 
</html>